@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
}


.noScrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.noScrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}